@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap');

.header, .pageImage, .footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.action, button {
    background-color: #3882F6;
    
}

button {
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 5px 35px;
    border-radius: 10px;
    border-style: solid;
}

.firstBtn, .infoPics img {
    border-color: #3882F6;
}

h3 {
    margin: 40px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", "Times New Roman", sans-serif, monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
    font-size: 24px;
}

.header, .pageImage h2 {
    color: #F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.images {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.infoPics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
}

p {
    margin: 0;
}

.infoPics img {
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    width: 100%;
}

.infoPics p {
    font-size: 18px;
    color: #737F91;
}

.pageImage {
    display: flex;
    padding: 100px 250px;
    gap: 100px;
}

.pageImage div p {
    margin: 20px 0;
}

.pageImage p, ul {
    font-size: 18px;
    color: #E5E7E8;
}

.mainImg{
    width: 600px;
    height: auto;
}
h2 {
    font-size: 48px;
    font-weight: 900;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

h1, h2, h4{
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.quote {
    font-size: 36px; 
    font-weight: 100;
    font-style: italic;
    padding: 150px 450px;
    color: #1F2937;
}

.source {
    font-size: 26px;
    font-weight: 900;
    font-style: normal;
    text-align: end;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 250px;
    padding: 75px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

h4 {
    font-size: 28px;
}